.DS_Store
node_modules
/dist

env
*.pyc 

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
phylomovie/services/reports/auto
phylo-io
frontend.log
backend/logs/debug_log.html
backend/browser-logs-mcp
backend/browser-tools-mcp
backend/logs
backend/memory-bank-mcp
backend/msa_uploads
backend/phylomovie/msa_uploads
backend/phylomovie/services
debug_logs
backend/brancharchitect-0.37.0.dist-info
.env
vite.log
mcp
.vite/deps
.playwright-mcp
