<div class="submenu-container" data-collapsed="false">
  <div class="submenu-header" tabindex="0">
    <div class="submenu-title">
      <i class="submenu-icon fa fa-align-left"></i>
      <span>Multiple Sequence Alignment</span>
    </div>
    <i class="toggle-icon fa fa-chevron-down" id="toggle-msa"></i>
  </div>
  <div class="submenu" id="submenu-msa">
    <div class="submenu-section">
      <h2 class="submenu-section-title">
        <i class="fa fa-dna mdc-icon"></i>
        MSA Viewer
      </h2>
      <div id="msa-status" class="info-row">
        <span class="info-label">Status:</span>
        <span class="info-value">Loading...</span>
      </div>
      <button id="msa-viewer-btn" class="mdc-button primary">
        <i class="fa fa-eye"></i>
        Open MSA Viewer
      </button>
    </div>
  </div>
</div>