<!DOCTYPE html>
<html lang="en">

<!-- Base HTML File written by Enes Berk Sakalli-->

<head>
    <meta charset="utf-8" />
    <title>Phylo-Movies</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
</head>

<body>

    <div class="container" style="margin-top:50px">

        <div class="row">
            <div class="col">
                <h1>Phylo-Movies</h1>
            </div>
            <div>
                Sequential Animation of Phylogenetic Trees Analysing sequences of phylogenetic trees is not an easy
                task. Especially the differences between neighbouring trees might be important. Such sequences of trees
                could be generated reconstructing trees for sliding windows along genomic alignments, e.g., to detect
                recombination events. Another source might be the sequence of trees found during a tree search during
                phylogenetic analysis. After obtaining such a sequence of trees it tedious to manually analyse
                neighbouring pairs of trees and to detect where major transitions, changes or recombination events
                occurred. The main project focus is to build a tool for dynamic visualisation of phylogenetic trees like
                a media player, which enables browsing dynamically through a sequence of trees, helping the human eye to
                catch changes between trees with the same leaves but changing hierarchies. Because it is hard to see
                differences between two trees ways must be found to highlight changes in the tree topologies in a way
                that the user can easily recognise the major changes. Without a useful visual transition using
                intermediates between neighbouring tree, it is hard to comprehend the differences between two trees
                because the bare eye has problems to identify them. By adding coloration, it will be much easier for the
                user the get an idea of what rearrangements happen. The combination of colourisation and by the
                intermediate steps, it is easier for the eyes to see clear differences along transitions. The following
                two properties should have been achieved: First it should be easy to use and secondly visualisations
                should be high fidelity. These two criteria should be considered for choosing the technical foundation.
                By building the tool as a browser application it is more accessible to the scientific community,
                especially experimentalists with limited computational resources. By considering the tool to be a
                browser application, also obstacles like installation problems are disappearing. Also, an important
                requirement for the tool was having high animation quality. What is meant by high fidelity is that the
                animations should be fluid and have a continuous trajectory. Secondly the resolution of the graphic
                should be high enough, to be able to track small shifts in the trees. The criteria of platform
                independence and animation quality are fulfilled by the technology of SVGs (Scalable Vector Graphics).
                The current most recommended framework based on web technologies for working with SVGs is D3. The tool
                will be tested by analysing tree trajectories which are generated by simulated and real data.
            </div>
        </div>
</body>

</html>

<style>
    * {
        font-family: "Heebo", sans-serif;
    }

    input {
        padding: 0.2em;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .header {
        display: flex;
    }

    .logo {
        padding-top: 8px;
        padding-inline: 20px;
        font-size: 32px;
    }
</style>