<!DOCTYPE html>
<html lang="en">
<!-- Base HTML File written by Enes Berk Sakalli-->

<head>
  <meta charset="utf-8" />
  <title>Phylo-Movies</title>

  {% include 'favicon.html' %}

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- JavaScript Bundle with Popper -->

  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>


  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  
</head>

<body>
  <div class="container pt-2">

    <div class="row">
      <div class="col-md">
        <h1 class="uk-heading-small">Phylo-Movies</h1>
      </div>
    </div>

    <form method="post" enctype="multipart/form-data">


      <div class="form-group row">
        <div class="col-md">
          <label for="form-file-tree" class="form-label col-form-label-lg">Tree-File</label>
          <input id="trees" type="file" class="filepond" name="treeFile">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md">
          <label for="form-file-order" class="form-label col-form-label-lg">Order-File</label>
          <input type="file" class="filepond" id="order" name="orderFile" />
        </div>
      </div>


      <div class="form-group row pt-2 g-2">
        <div class="col-md">
          <div class="form-floating">

            <input id="window-size" class="form-control" type="number" name="windowSize" placeholder="1" value="1" />
            <label for="window-size">Window-Size</label>

          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">

            <input id="window-step-size" class="form-control" type="number" name="windowStepSize" placeholder="1"
              value="1" />
            <label for="window-step-size">Window-Step-Size</label>

          </div>
        </div>
      </div>

      <div id="button-row" class="pt-4">
        <button type="submit" class="uk-button uk-button-default">
          <span uk-icon="play"></span> Play</button>
      </div>

      <div id="color-section"></div>

    </form>
  </div>

  <script>
    let inputTrees = document.getElementById('trees');
    let inputOrder = document.getElementById('order');
    let filePondTreesInput = FilePond.create(inputTrees, {
      'name': 'treeFile',
      'storeAsFile': true
    });
    filePondTreesInput.required = true;

    filePondTreesInput.on('addfile', async (error, file) => {
      if (error) {
        console.log('File added', e.detail);
      }
      const fileText = await file.file.text();
      createColorArray(fileText);
    });

    let filePondOrderInput = FilePond.create(inputOrder, {
      'name': 'orderFile',
      'storeAsFile': true
    });

    // https://github.com/jasondavies/newick.js
    let leaves = [];

    function parseNewick(a) {
      for (
        var e = [], r = {}, s = a.split(/\s*(;|\(|\)|,|:)\s*/), t = 0;
        t < s.length;
        t++
      ) {
        var n = s[t];
        switch (n) {
          case "(":
            var c = {};
            (r.branchset = [c]), e.push(r), (r = c);
            break;
          case ",":
            var c = {};
            e[e.length - 1].branchset.push(c), (r = c);
            break;
          case ")":
            r = e.pop();
            break;
          case ":":
            break;
          default:
            var h = s[t - 1];
            ")" == h || "(" == h || "," == h
              ? (r.name = n)
              : ":" == h && (r.length = parseFloat(n));
        }
      }
      return r;
    }

    function generateSelectGroupSeparator() {
      return
      `<div uk-form-custom="target: > * > span:last-child">
      <select id="coloring-mode-selector" aria-label="Custom controls">
          <option value="1">Taxa</option>
          <option value="2">Groups</option>
      </select>
      <span class="uk-link">
          <span uk-icon="icon: pencil"></span>
          <span></span>
      </span>
    </div>
    `;
    }

    async function createColorArray(text) {

      let newickTrees = text.split("\n");
      let firstNewickTree = newickTrees[0];
      let tree = parseNewick(firstNewickTree);
      let root = d3.hierarchy(tree, (d) => d.branchset);
      leaves = root.leaves();

      document.getElementById("color-section").innerHTML = `
    <div id="color-selection-modal" uk-modal container="color-section">

        <div class="uk-modal-dialog uk-modal-body">
            
            <div class="uk-child-width-1-3@s uk-grid-small uk-text-center" uk-grid>
              <div class="uk-tile uk-tile-default uk-padding-remove">

                  <div class="uk-margin">

                      <select id="coloring-mode-selector" aria-label="Custom controls">
                          <option value="1">Taxa</option>
                          <option value="2">Groups</option>
                      </select>

                  </div>

              </div>

              <div id="separator-select" class="uk-tile uk-tile-default uk-padding-remove"></div>
              <div id="group-button" class="uk-tile uk-tile-default uk-padding-remove"></div>

          </div>

          <div id="color-array-container" class="uk-child-width-1-3@s uk-grid-small uk-text-center" uk-grid>
              ${generateTaxaColorArray(accessLeaveNames(leaves))}
          </div>
          
          <div class="uk-modal-footer uk-text-right">
              <button id="interpolate-color-group" class="uk-button uk-button-default" type="button">Interpolate Color</button>
              <button class="uk-button uk-button-default uk-modal-close" type="button">Save</button>
          </div>

        </div>
    </div>
    `;

      document.getElementById("button-row").innerHTML = `
      <button class="uk-button uk-button-default" uk-toggle="target: #color-selection-modal" type="button">Assign Colors</button>
      <button class="uk-button uk-button-default" type="submit" class="uk-button uk-button-default"><i class="fa fa-play"></i>Play</button>
    `;

      document.getElementById("coloring-mode-selector").addEventListener("change", (event) => {

        if (event.target.value == 1) {

          document.getElementById("color-array-container").innerHTML = generateTaxaColorArray(accessLeaveNames(leaves));
          document.getElementById("separator-select").innerHTML = ``;
          document.getElementById("group-button").innerHTML = ``;

        }

        if (event.target.value == 2) {

          document.getElementById("separator-select").innerHTML += `
                    <div class='button-container'">

                        <select id="separator-select-button" aria-label="Custom controls" name="separator">
                            <option value="-">-</option>
                            <option value="_">Underscore</option>
                            <option value="first_letter">First Letter</option>
                          </select>
                    </div>
                    `;

          document.getElementById("group-button").innerHTML += `
                        <div class="col p-0">
                            <a href="#" id="group-button" class="uk-button uk-button-secondary uk-button-small uk-margin-remove">
                              <span uk-icon="icon: git-fork;"></span> Group
                            </a>
                        </div>
                    `;

          document.getElementById("group-button").addEventListener("click", (e) => {

            let separator = document.getElementById("separator-select-button").value;
            let group = groupLeaves(leaves, separator);
            let groupColorContainer = generateGroupArray(group);
            document.getElementById("color-array-container").innerHTML = groupColorContainer;

          });

        }
      },
        false
      );

      document.getElementById("interpolate-color-group").addEventListener("click", interpolateGroupTiles, false)

    }

    function accessLeaveNames(leaves) {
      return leaves.map((leave) => { return leave.data.name; });
    }

    function groupLeaves(leaves, separator) {
      let subtypes = new Set();
      leaves.forEach((leave) => {
        if (separator === "first_letter") {
          let subtype = leave.data.name[0];
          subtypes.add(subtype);
        } else {
          let subtype = leave.data.name.split(separator);
          subtypes.add(subtype[0]);
        }
      });
      return subtypes;
    }

    function generateGroupArray(elements) {
      let elementContainer = "";
      elements.forEach((element) => {
        elementContainer +=
          `<div class="uk-tile uk-tile-default uk-padding-remove">
            <div>
                ${element}
            </div>
            <div>
                <input id="group-${element}" class="color-tile" type="color" name="group-color-${element}" value="#000000">
            </div>
        </div>`;
      });
      return elementContainer;
    }

    function generateTaxaColorArray(elements) {
      let elementContainer = "";
      elements.forEach((element) => {
        elementContainer += `
                <div class="uk-tile uk-tile-default uk-padding-remove">
                    <div>
                        ${element}
                    </div>
                    <div>
                        <input id="taxa-${element}" class="color-tile" type="color" name="taxa-color-${element}" value="#000000">
                    </div>
                </div>
                    `;
      });
      return elementContainer;
    }

    function interpolateGroupTiles(e) {
      let colorTiles = document.querySelectorAll(".color-tile");
      let tileValues = [];

      colorTiles.forEach((tile) => {
        tileValues.push(tile.id);
      });

      // Define your color scale and interpolate based on tile values
      let colorScale = d3.scaleSequential(d3.interpolateSinebow)
        .domain([0, tileValues.length - 1]);

      // Function to convert RGB values to hexadecimal
      function rgbToHex(r, g, b) {
        return "#" + ((1 << 24) | ((r << 16) | (g << 8) | b)).toString(16).slice(1);
      }

      // Iterate through the color tiles and assign interpolated color (hexadecimal) to input value
      colorTiles.forEach((tile, index) => {
        let interpolatedColor = d3.rgb(colorScale(index));
        let hexColor = rgbToHex(interpolatedColor.r, interpolatedColor.g, interpolatedColor.b);
        let inputField = document.getElementById(tile.id); // Assuming tile.id is the same as input id
        inputField.value = hexColor;
      });
    }



  </script>
</body>

</html>