<!DOCTYPE html>
<html lang="en">
<!-- Base HTML File written by Enes Berk Sakalli-->

<head>
  <meta charset="utf-8" />
  <title>Phylo-Movies</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo" />

  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/ohm.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/record.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/calc.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/gui.js') }}"></script>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0.16/dist/svg.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/svg2pdf.js@1.5.0/dist/svg2pdf.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspdf-yworks@2.1.1/dist/jspdf.min.js"></script>

</head>

<body>
  <div class="container">
    <!-- beginning of menu -->
    <div id="menu" class="menu">

      <!-- beginning of toolbar-->
      <div class="toolbar">
        <div class="tools">
          <div class="row">
            <div class="menuItem">Tree:</div>
            <span style="align-self: end">
              <span id="currentFullTree">0</span>/
              <span id="numberOfFullTrees"></span>
            </span>
          </div>

          <div class="row">
            <div class="menuItem">Tree Type:</div>
            <span style="align-self: end">
              <span id="treeLabel"></span>
            </span>
          </div>

          <div class="row">
            <div class="menuItem">
              <label for="positionValue">Position:</label>
            </div>
            <div class="bubble">
              <input type="number" id="positionValue" class="left positionInput" name="pos" value="1" /><input
                type="button" id="positionButton" class="right mybutton" value="Go" />
            </div>
          </div>

          <div class="row">
            <div class="menuItem stepSizeLabel">
              <label for="factor">Factor:</label>
            </div>
            <div class="bubble">
              <input id="factor" class="stepSizeInput left right" type="number" name="stepSize" value="1" />
              <div style="width: 30px; height: 10px"></div>
            </div>
          </div>

          <div class="row">
            <div class="menuItem">Window-Area:</div>
            <span style="align-self: end"><span id="windowArea"> </span></span>
          </div>

          <div class="row">
            <div class="menuItem stepSizeLabel">
              <label for="windowSize">Window Size:</label>
            </div>
            <div class="bubble">
              <input id="windowSize" class="stepSizeInput left right" type="number" value="1" disabled
                readonly="readonly" />
              <div style="width: 30px; height: 10px"></div>
            </div>
          </div>

          <div class="row">
            <div class="menuItem stepSizeLabel">
              <label for="windowStepSize">Window Step Size:</label>
            </div>
            <div class="bubble">
              <input id="windowStepSize" class="stepSizeInput left right" type="number" name="stepSize" value="1"
                disabled />
              <div style="width: 30px; height: 10px"></div>
            </div>
          </div>

          <div class="row">
            <div class="menuItem stepSizeLabel">
              <label for="bar-plot-option">Bar plot Option</label>:
            </div>
            <div class="bubble">
              <select id="bar-plot-option" name="bar-plot-option" class="plotPercentSelect left right">
                <option value="rfd">Rel. RFD</option>
                <option value="w-rfd">Weighted RFD</option>
                <option value="scale">Scale</option>
              </select>
              <div style="width: 30px; height: 10px"></div>
            </div>
          </div>
        </div>

        <!-- beginning of button section-->
        <div class="allbuttons">

          <button id="start-button" type="button" class="customButton left" aria-hidden="true">
            <i class="fa fa-play"></i>
          </button>

          <button id="stop-button" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-stop"></i>
          </button>

          <button id="backward-step-button" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-step-backward"></i>
          </button>

          <button id="backward-button" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-backward"></i>
          </button>

          <button id="forward-button" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-forward"></i>
          </button>

          <button id="forward-step-button" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-step-forward"></i>
          </button>

          <button id="save-button" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-save"></i>
          </button>

          <button id="start-record" type="button" class="customButton" aria-hidden="true">
            <i class="fa fa-video-camera"></i>
          </button>

          <button id="stop-record" type="button" class="customButton right" aria-hidden="true">
            <i class="fa fa-stop-circle"></i>
          </button>
        </div>
        <!-- end of button section-->


        <div style="padding-top: 20px; display: none !important">
          <div class="current-scale-container">
            <div style="padding-bottom: 15px">
              Current Scale:<span id="current-scale-text"></span>
            </div>
            <div class="scaleContainer">
              <div id="current-scale" style="height: 10px">
              </div>
            </div>
          </div>

          <div style="padding-top: 20px">
            <div class="current-scale-container">
              <div class="rating-bar" style="padding-bottom: 15px">
                <div>Maximal Scale:<span id="maxScaleText"></span></div>
              </div>
              <div id="maxScale" style="background-color: white; height: 10px">
              </div>
            </div>
          </div>
        </div>

        <div id="lineChart" style="width: 300px; height: 220px; background-color: #373747"></div>

        <button id="compare-trees-button" uk-toggle="target: #compare-trees-modal"
          class="uk-button uk-button-default uk-margin-small-right uk-button-primary uk-width-1-1" type="button">
          Compare
        </button>

        <button class="uk-button uk-button-default uk-width-1-1" type="button" style="color: white">
          Appearance
        </button>
        <div uk-dropdown="mode: click">
          <div>
            <div>
              Ignore Lengths
              <input class="uk-checkbox" id="branch-length" type="checkbox" />
            </div>

            <div>Leaf-Label Size</div>
            <input class="uk-range" type="range" id="font-size" name="font-size" min="0" max="3" step="0.01"
              value="1.2" />
          </div>

          <div>
            <div>Stroke Width</div>
            <input class="uk-range" type="range" id="stroke-width" name="stroke-width" min="0.5" max="10" step="0.01" />
          </div>
        </div>


      </div>


    </div>
    <!-- end of toolbar-->
    <!-- This the beginning of the Chart Modal -->
    <div id="chart-modal" uk-modal class="uk-modal-container" style="padding-top: 20px; display: none !important">
      <div class="uk-modal-dialog uk-modal-body">
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">
            Cancel
          </button>
          <button class="uk-button uk-button-primary" type="button">
            Save
          </button>
        </p>
      </div>
    </div>
    <!-- This the end of the Chart Modal -->
    <!-- This is the beginning of the Compare Modal -->
    <div id="compare-trees-modal" class="uk-modal-full" uk-modal>
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>

        <button id="save-compare-trees" class="uk-button uk-button-secondary">
          <span uk-icon="download"></span>
        </button>

        <div id="compare-tree-modal-left" style="width: 100%; height: 100%">
          <svg id="application-compare-container" width="100%" height="95%">
            <g id="application-compare-up"></g>
            <g id="application-compare-down"></g>
          </svg>
        </div>
      </div>
    </div>
    <!-- This is the end of the Compare Modal -->
    <!-- This is the beginning of the Application Container -->
    <div style="width: 100%; height: 100%">
      <svg id="application-container" width="100%" height="95%">
        <g id="application"></g>
      </svg>
    </div>
  </div>
  <!-- This is the end of the Application Container -->
  <script type="module">
    import Gui from "{{ url_for('static', filename='js/gui.js') }}";
    import constructTree from "{{ url_for('static', filename='js/TreeConstructor.js') }}";
    import drawTree from "{{ url_for('static', filename='js/TreeDrawer.js') }}";

    function ready(fn) {
      if (typeof fn !== 'function') {
        throw new Error('Argument passed to ready should be a function');
      }

      if (document.readyState != 'loading') {
        fn();
      } else if (document.addEventListener) {
        document.addEventListener('DOMContentLoaded', fn, {
          once: true // A boolean value indicating that the listener should be invoked at most once after being added. If true, the listener would be automatically removed when invoked.
        });
      } else {
        document.attachEvent('onreadystatechange', function () {
          if (document.readyState != 'loading')
            fn();
        });
      }
    }

    function downloadSVG(svgContainer, fileName) {
      // Get the SVG element
      const svgElement = document.getElementById(svgContainer);

      // Convert SVG element to XML string
      const serializer = new XMLSerializer();
      const svgString = serializer.serializeToString(svgElement);

      // Create a download link
      const downloadLink = document.createElement('a');
      downloadLink.href = 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svgString);
      downloadLink.download = fileName;

      // Trigger the download
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    }

    /**
     * Compare trees based on the current GUI index.
     * @returns {void}
     */
    function compareTrees() {
      gui.stop();

      // Get the application container and adjust its width and height
      const applicationContainer = document.getElementById("application-compare-container");
      const width = window.innerWidth - 80;
      const height = window.innerHeight - 80;
      applicationContainer.setAttribute("width", `${width}px`);
      applicationContainer.setAttribute("height", `${height}px`);

      // Calculate translateX and translateY values for positioning the trees
      const translateX = width * 0.25;
      const translateY = height / 2;

      // Position the application-compare-up and application-compare-down trees
      d3.select("#application-compare-up").attr("transform", `translate(${translateX},${translateY})`);
      d3.select("#application-compare-down").attr("transform", `translate(${translateX * 3},${translateY})`);

      // Calculate tree indexes for the upward and downward trees
      const treeIndexUp = Math.floor(gui.index / 5) * 5;
      const treeIndexDown = treeIndexUp + 5;

      // Get the trees to be compared
      const treeOne = phyloMoviesStateObject.treeList[treeIndexUp];
      const treeTwo = phyloMoviesStateObject.treeList[treeIndexDown];

      // Calculate the color index
      const colorIndex = Math.floor(gui.index / 5);

      // Construct the upward and downward trees
      const treeUpward = constructTree(treeOne, false, 'application-container', { margin: translateX });
      const treeDownwards = constructTree(treeTwo, false, 'application-container', { margin: translateX });

      // Draw the trees with the specified parameters
      drawTree(treeUpward, phyloMoviesStateObject.toBeHighlighted[colorIndex], 0, phyloMoviesStateObject.sortedLeaves, gui.fontSize, gui.strokeWidth, "application-compare-up", phyloMoviesStateObject.taxaColorMap);
      drawTree(treeDownwards, phyloMoviesStateObject.toBeHighlighted[colorIndex], 0, phyloMoviesStateObject.sortedLeaves, gui.fontSize, gui.strokeWidth, "application-compare-down", phyloMoviesStateObject.taxaColorMap);
    }

    function attachEventHandlers() {
      const saveCompareTreesButton = document.querySelector('#save-compare-trees');
      const startMovieButton = document.querySelector('#start-button');
      const stopMovieButton = document.querySelector('#stop-button');
      const startRecordButton = document.querySelector('#start-record');
      const stopRecordButton = document.querySelector('#stop-record');
      const forwardButton = document.querySelector('#forward-button');
      const backwardButton = document.querySelector('#backward-button');
      const saveButton = document.querySelector('#save-button');
      const positionButton = document.querySelector('#positionButton');
      const forwardStepButton = document.querySelector('#forward-step-button');
      const backwardStepButton = document.querySelector('#backward-step-button');
      const barPlotOption = document.querySelector('#bar-plot-option');
      const branchLength = document.querySelector('#branch-length');
      const fontSizeInput = document.querySelector('#font-size');
      const strokeWidthInput = document.querySelector('#stroke-width');
      const chartModalButton = document.querySelector('#chart-modal-button');
      const compareTreesButton = document.querySelector('#compare-trees-button');

      saveCompareTreesButton.addEventListener('click', () => {
        const fileName = `${gui.fileName}-${Math.floor(gui.index / 5) + 1}.svg`;

        let svgContainer = document.getElementById("application-compare-container");
        let pdf = new jsPDF();

        svg2pdf(svgContainer, pdf, {
          scale: 1
        });

        pdf.save('myPDF.pdf');

        // downloadSVG("application-compare-container", fileName);
      });

      startMovieButton.addEventListener('click', () => {
        gui.start();
      });

      stopMovieButton.addEventListener('click', () => {
        gui.stop();
      });

      forwardButton.addEventListener('click', () => {
        gui.forward();
      });

      backwardButton.addEventListener('click', () => {
        gui.backward();
      });

      saveButton.addEventListener('click', () => {
        gui.saveSVG();
      });

      positionButton.addEventListener('click', () => {
        const position = Math.max(1, document.getElementById("positionValue").value);
        document.getElementById("positionValue").value = position;
        gui.goToPosition(position - 1);
      });

      forwardStepButton.addEventListener('click', () => {
        gui.nextTree();
      });

      backwardStepButton.addEventListener('click', () => {
        gui.prevTree();
      });

      barPlotOption.addEventListener('click', () => {
        gui.barOptionValue = document.getElementById("bar-plot-option").value;
        gui.update();
      });

      branchLength.addEventListener('click', () => {
        gui.ignoreBranchLengths = document.getElementById("branch-length").checked;
        gui.update();
      });

      fontSizeInput.addEventListener('input', () => {
        gui.fontSize = document.getElementById("font-size").value;
        gui.updateMain();
      });

      strokeWidthInput.addEventListener('input', () => {
        gui.strokeWidth = document.getElementById("stroke-width").value;
        gui.updateMain();
      });

      chartModalButton.addEventListener('click', () => {
        gui.stop();
        document.getElementById('chart-modal');
        gui.generateModalChart();
      });

      compareTreesButton.addEventListener('click', compareTrees);

      var mediaRecorder;

      startMovieButton.addEventListener('click', () => {
        gui.start();
      })

      stopMovieButton.addEventListener('click', () => {
        gui.stop();
      })

      startRecordButton.addEventListener('click', async function () {
        const stream = await recordScreen();
        const mimeType = 'video/webm';
        mediaRecorder = createRecorder(stream, mimeType);
        const node = document.createElement("p");
        node.textContent = "Started recording";
        document.body.appendChild(node);
        stopButton.disabled = false;
      });

      stopRecordButton.addEventListener('click', function () {
        mediaRecorder.stop();
        const node = document.createElement("p");
        node.textContent = "Stopped recording";
        document.body.appendChild(node);
      });
    }

    document.querySelector('#compare-trees-button').addEventListener('click', () => compareTrees);

    //================================================================================ // Properties //===<<============================================================================= let treeList        // let leaveOrder = {{ sorted_leaves | safe}};
    let windowSize = parseInt({{ window_size | safe}});
    let windowStepSize = parseInt({{ window_step_size | safe}});
    let fileName = "{{file_name | safe}}";

    // let ignore_branch_lengths = false;
    // let color_internal_branches = true;

    let phyloMoviesStateObject = {{ phylo_movie_state | safe}};
    const gui = new Gui(phyloMoviesStateObject);

    document.getElementById("windowSize").value = windowSize;
    document.getElementById("windowStepSize").value = windowStepSize;
    gui.initializeMovie();
    gui.play();

    ready(function () {
      if (phyloMoviesStateObject.treeList.length > 2) {
        document.getElementById('menu').innerHTML += `
              <button id="chart-modal-button" class="uk-button uk-button-default uk-margin-small-right uk-button-danger uk-width-1-1" type="button"uk-toggle="target: #chart-modal">
                  Open Chart
              </button>`
      }

      attachEventHandlers()

      window.onresize = function () {
        gui.resize();
        gui.update();
      };

    });

  </script>
</body>

</html>